  <div class="container-fluid footer">
    <div class="row ">
      <!--<div class="col-md-4 col-sm-2 mt-5 my-3">-->
        <div class="col-md-2">
          <div class=" mt-5">
            <img src="../../../assets/img/logo-white.webp" alt="" class="imglogo">
          </div>
        </div>

        <div class="col-md-3">
        <div class=" mt-5">
          <h5 class="productosTitulo">Acerca de</h5>  
        </div>
        <p>Con una amplia variedad de propiedades de lujo, Karisma Hotels & Resorts brinda diversas experiencias; desde momentos románticos y en pareja o descansos urbanos y/o íntimos hasta vacaciones inolvidables en familia.</p>
        <p>Pasa por nuestro espacio de Cowork para acceder a las mejores vistas de Quito. Nuestro espacio ofrece un lugar tranquilo para trabajar, muy buena velocidad de Internet y una comunidad a la que le encanta la diversión. ¿Quién dice que no puedes disfrutar mientras trabajas? </p>
      </div>

      <!-- <div class="col-md-4 col-sm-2 mt-5">-->
      <div class="col-md-2"> 
       <div class=" mt-5">
          <h5>Contáctanos</h5>
        </div>
          <ul class="foot">
            <li>Telefono:<a href="333225511">(+57)319-323-6759</a></li>
            <li>Email: <a href="email@email.com">mgilma018@gmail.com</a></li>
            <li>Skype: <a href="skype:gilmalu">gilmalu:skype </a> </li>
          </ul> 
          
        </div>

         <!-- <div class="col-4 col-md-2 col-sm-2 mt-5">-->
          <div class="col-md-2"> 
              <div class=" mt-5">
                 <h5>Nuestros Paises</h5>
               </div>
                 <ul class="foot">
                   <li>Portugal<a href=""></a></li>
                   <li>Costa Rica<a href=""></a></li>
                   <li>Israel<a href=""></a></li>
                   <li>Colombia<a href=""></a></li>
                   <li>México<a href=""></a></li>
                   <li>Ecuador<a href=""></a></li>
                   <li>Panamá<a href=""></a></li>
                   <li>EEUU<a href=""></a></li>
                   <li>Brasil<a href=""></a></li>
                 </ul> 
               </div>
              
             <div class="col-md-2"> 
                <div class=" mt-5">
                   <h5>Ubicados</h5>
                 </div>
                   <ul class="foot">
                     <li class="mb-4">Selina Medellin & Cowork, Cra. 32d #9 - 17, El Poblado, Medellín, Antioquia</li>

                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.423967678116!2d-75.56635558589548!3d6.20767572847801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442828108b8341%3A0xddac84f16063b76c!2sSelina%20Medellin%20%26%20Cowork!5e0!3m2!1ses-419!2sco!4v1668651306110!5m2!1ses-419!2sco" width="200" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </ul> 
                 </div>
      </div>

    
<hr>
      <div class="row mt-5 mx-5 marcas">
        <div class="col-md-3 mx-5"> 
          <img src="../../../assets/img/logo-awards6.svg" alt="">
          </div>
      
        <div class="col-md-3"> 
          <img src="../../../assets/img/logo-awards7.svg" alt="">
          </div>
        <div class="col-md-3"> 
            <img src="../../../assets/img/logo-awards5.svg" alt="">
         </div>
        
         <div class="col-md-2"> 
          <img src="../../../assets/img/logo-awards8.svg" alt="">
       </div> 
      
      </div>

  </div>
<hr class="mt-5 ">

  <div class="postfooter mt-5">
    <p>© 2022 Hotel Selina Colombia |Todos los derechos reservados| Designed by Gilma</p>
  </div>

  <hr>




<!--

     <div class="row">
        <div class="col-md-4 col-sm-2 mt-5 my-3">
          <div class="col-md-4">

          <div class=" mt-5">
            <h2 class="productosTitulo">Acerca de</h2>  
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto facilis quam dolorem aliquam odio atque ad iusto cumque officiis voluptatem magnam exercitationem reiciendis voluptatum, quos a aliquid, dignissimos obcaecati. </p>
        </div>

         <div class="col-md-4 col-sm-2 mt-5">
        <div class="col-md-4"> 
         <div class=" mt-5">
            <h2>Contactanos</h2>
          </div>
            <ul>
              <li>Telefono:<a href="333225511">(+57)319-323-6759</a></li>
              <li>Email: <a href="email@email.com">mgilma018@gmail.com</a></li>
              <li>Skype: <a href="skype:gilmalu">gilmalu:skype </a> </li>
            </ul> 
            
          </div>

            <div class="col-4 col-md-2 col-sm-2 mt-5">
            <div class="col-md-4"> 
                <div class=" mt-5">
                   <h2>Nuestros Servicios</h2>
                 </div>
                   <ul>
                     <li>Telefono:<a href="333225511">(+57)319-323-6759</a></li>
                     <li>Email: <a href="email@email.com">mgilma018@gmail.com</a></li>
                     <li>Skype: <a href="skype:gilmalu">gilmalu:skype </a> </li>
                   </ul> 
                   
                 </div>
        </div>
      -->
     
      
