    <div class="container footer ">


     <div class="row">
       <!-- <div class="col-md-4 col-sm-2 mt-5 my-3">-->
          <div class="col-md-4">

          <div class=" mt-5">
            <h2 class="productosTitulo">Acerca de</h2>  
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto facilis quam dolorem aliquam odio atque ad iusto cumque officiis voluptatem magnam exercitationem reiciendis voluptatum, quos a aliquid, dignissimos obcaecati. </p>
        </div>

       <!--   <div class="col-md-4 col-sm-2 mt-5">-->
        <div class="col-md-4"> 
         <div class=" mt-5">
            <h2>Contactanos</h2>
          </div>
            <ul>
              <li>Telefono:<a href="333225511">(+57)319-323-6759</a></li>
              <li>Email: <a href="email@email.com">mgilma018@gmail.com</a></li>
              <li>Skype: <a href="skype:gilmalu">gilmalu:skype </a> </li>
            </ul> 
            
          </div>

           <!--  <div class="col-4 col-md-2 col-sm-2 mt-5">-->
            <div class="col-md-4"> 
                <div class=" mt-5">
                   <h2>Nuestros Servicios</h2>
                 </div>
                   <ul>
                     <li>Telefono:<a href="333225511">(+57)319-323-6759</a></li>
                     <li>Email: <a href="email@email.com">mgilma018@gmail.com</a></li>
                     <li>Skype: <a href="skype:gilmalu">gilmalu:skype </a> </li>
                   </ul> 
                   
                 </div>
        </div>
    </div>

