<h1 class="text-center mt-5">DESCRIPCION</h1>
<hr>


<div class="row mt-5 text-center">
    <div class="col-6 text-center">
        <img src="../../assets/img/bmx.webp" alt="">
    </div>
    <div class="col-5 my-5 text-center">
        <h5>ACTIVIDADES AL AIRE LIBRE</h5>
        <p>Desde suites de lujo y apartamentos para estadías prolongadas hasta carpas de glamping y habitaciones comunitarias, tenemos algo adecuado para todos. Cada habitación cuenta con toques especiales de Selina, como obras de arte de origen local, materiales reciclados y colchones extra cómodos para garantizar una buena noche de sueño.</p>
    </div>
</div>





<div class="row mt-5  text-center">
    <div class="col-5 my-5 text-center">
        <h5>ZONA COWORKING</h5>
        <p>Desde suites de lujo y apartamentos para estadías prolongadas hasta carpas de glamping y habitaciones comunitarias, tenemos algo adecuado para todos. Cada habitación cuenta con toques especiales de Selina, como obras de arte de origen local, materiales reciclados y colchones extra cómodos para garantizar una buena noche de sueño.</p>
    </div>
    <div class="col-6">
        <img src="../../assets/img/coworking.jpg" alt="">
    </div>
</div>




<br>

<div class="row mt-5">
    <div class="col-5 text-center">
        <img src="../../assets/img/piscina.jpg" alt="">

    </div>
    <div class="col-6 my-5 text-center">
        <h4>ZONA PISCINA</h4>
        <p>Desde suites de lujo y apartamentos para estadías prolongadas hasta carpas de glamping y habitaciones comunitarias, tenemos algo adecuado para todos. Cada habitación cuenta con toques especiales de Selina, como obras de arte de origen local, materiales reciclados y colchones extra cómodos para garantizar una buena noche de sueño.</p>
    </div>
</div>

<br>

<div class="row mt-5">
    <div class="col-5 my-5 text-center">
        <h4>YOGA</h4>
        <p>Desde suites de lujo y apartamentos para estadías prolongadas hasta carpas de glamping y habitaciones comunitarias, tenemos algo adecuado para todos. Cada habitación cuenta con toques especiales de Selina, como obras de arte de origen local, materiales reciclados y colchones extra cómodos para garantizar una buena noche de sueño.</p>
    </div>
    <div class="col-6 my-5 text-center">
        <img src="../../assets/img/yoga.webp" alt="">
    </div>
</div>