
<div class="container barra">
    <app-menu></app-menu>
</div>


<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <app-formareserva></app-formareserva>
            </div>
        </div>
    </div>
</div>


<div class="container ">
        <app-descripcion></app-descripcion>
</div>


<div class="container-fluid bannerHabitacion">
    <app-bannerhabitacion></app-bannerhabitacion>
</div>


<footer class="prefooter">
    <div>
        <app-prefooter></app-prefooter>
    </div>
</footer>


<footer class="footer">
    <div>
        <app-footer></app-footer>
    </div>
</footer>
