
<div class="container barra">
    <app-menu></app-menu>
</div>


<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <app-formareserva></app-formareserva>
            </div>
        </div>
    </div>
</div>


<div class="container ">
        <app-descripcion></app-descripcion>
</div>


<div class="container-fluid bannerHabitacion">
    <app-bannerhabitacion></app-bannerhabitacion>
</div>


<section>
    <div class="container">
        
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col " *ngFor="let habitacion of habitaciones">
                <div class="card h-100 shadow">
                    <img src={{habitacion.fotografias[0]}} alt="foto" class="img-fluid w-100 h-100">
                    <h3 class="text-center fw-bold">{{habitacion.nombre}}</h3>

                </div>
            </div>
        </div>
    </div>
</section>


<footer class="prefooter">
    <div>
        <app-prefooter></app-prefooter>
    </div>
</footer>


<footer class="footer">
    <div>
        <app-footer></app-footer>
    </div>
</footer>
