<div class="container prefooter">
<div class="row justify-content-center my-5">

    <div class="col-4 col-md-2 imagen ">
        <img src="../../assets/img/recepcionista.png" alt="" srcset="" width="400" height="300">       
    </div>

    <div class="col-8 col-md-6 ">
        <h2 class="">SERVICIO DE ATENCION 24 HORAS</h2>
        <p class="">Contactanos para recibir ofertas exclusivas, noticias privilegiadas del resort, actualizaciones, una estadía GRATUITA por nuestra gran inauguración y mucho más. </p>        
    </div>

   
</div>

    
</div>

